{% extends "fresh/base" %}
{% block content %}
<h1>Last 10 page-views</h1>

{% for hit in hits %}
<div class='module'>
<h2>{{ hit.url }}</h2>
<table>
<tr><th>Served</th> <td>{{ hit.served|timesince }} ago</td></tr>
<tr><th>Client</th> <td>{{ hit.ip_address }}</td></tr>
<tr><th>Referrer</th> <td>{% if hit.referrer %}<a href='{{ hit.referrer|escape }}'>{{ hit.referrer|escape }}</a>{% else %}None{% endif %}</td></tr>
<tr><th>User-Agent</th> <td>{{ hit.user_agent|escape }}</td></tr>
</table>
</div>
{% endfor %}
{% endblock %}
