{% extends "scryer/base" %}
{% block content %}
<h1>Scryer views</h1>

<div class='module'>
    <h2>Live statistics</h2>
    <table width='100%'>
    <tr><th><a href='sessions/'>Last 10 active sessions</a></th></tr>
    <tr><th><a href='page-views/'>Last 10 page-views</a></th></tr>
    </table>
</div>

<div class='module'>
    <h2>Referrers</h2>
    <table width='100%'>
    <tr><th><a href='referrers/?max-age=1'>Past 24 hours</a></th></tr>
    <tr><th><a href='referrers/?max-age=7'>Past 7 days</a></th></tr>
    <tr><th><a href='referrers/?max-age=30'>Past 30 days</a></th></tr>
    <tr><th><a href='referrers/'>Forever</a></th></tr>
    </table>
</div>

<div class='module'>
    <h2>Top pages</h2>
    <table width='100%'>
    <tr><th><a href='top-pages/?max-age=1'>Past 24 hours</a></th></tr>
    <tr><th><a href='top-pages/?max-age=7'>Past 7 days</a></th></tr>
    <tr><th><a href='top-pages/?max-age=30'>Past 30 days</a></th></tr>
    <tr><th><a href='top-pages/'>Forever</a></th></tr>
    </table>
</div>
{% endblock %}
