Subject: {% load email %}{{ post.title|striptags|indent_lines }}
Date: {{ post.posted|date:"D, d M Y H:i:s T" }}
From: "{{ post.get_feed.title }}" <aggemam@ibofobi.dk>
To: <{{ user.email }}>
Content-Type: text/html; charset=utf-8

<html>
<head>
<title>{{ post.title|striptags }}</title>
</head>
<body>
{% if post.get_preferred_link %}
<h1><a href='{{ post.preferred_link.href|escape }}'
       type='{{ post.preferred_link.type|escape }}'
       title='{{ post.preferred_link.title|escape }}'>{{ post.title }}</a></h1>
{% else %}
<h1>{{ post.title }}</h1>
{% endif %}

{% if post.content %}
{{ post.content }}
{% else %}
{{ post.summary }}
{% endif %}

<hr />
Posted to <a href='http://admin.ibofobi.dk/custom/aggemam/feeds/{{ post.get_feed.id }}/'>{{ post.get_feed.title }}</a>.
Mailed by Aggemam.
</body>
</html>
