{% extends "aggemam/base" %}
{% block title %}Subscribe to feed{% endblock %}
{% block content %}
<h1>Feeds at {{ url|escape }}</h1>

<form method='post' action='.'>
<p>Please select which feeds to subscribe to.</p>

<p>
{% for feed in feeds %}
<input id='feed{{ forloop.counter }}'
       type='checkbox'
       name='feeds'
       value='{{ feed|escape }}' />
<label for='feed{{ forloop.counter }}'>{{ feed|escape }}</label>
<br />
{% endfor %}
</p>

<p><input type='submit' value='Subscribe' /></p>
</form>
{% endblock %}
