{% extends "blog" %}
{% load formhelpers %}

{% block extrahead %}
<style type='text/css'>
label {
    display: block;
}
.form-errors {
    display: block;
    background-color: #f88;
    border: thin solid black;
    margin: 1em 0 0.2em 0;
}
textarea {
    width: 80%;
}
</style>
{% endblock %}

{% block title %}
    {% if object %}
        Edit draft "{{ object.title }}"
    {% else %}
        Create a new draft
    {% endif %}
{% endblock %}

{% block content %}
<form method='post' action='.'>
<p>
    {% if form.title.errors %}{% for error in form.title.errors %}
    <div class='form-errors'>{{ error }}</div>
    {% endfor %}{% endif %}
    <label for='id_title'>Title: </label> {{ form.title }}
</p>
<p>
    {% if form.content.errors %}{% for error in form.content.errors %}
    <div class='form-errors'>{{ error }}</div>
    {% endfor %}{% endif %}
    <label for='id_content'>Content: </label> {{ form.content|wrap:"off" }}
</p>
<p>
    {% if form.categories.errors %}{% for error in form.categories.errors %}
    <div class='form-errors'>{{ error }}</div>
    {% endfor %}{% endif %}
    <label for='id_categories'>Categories: </label> {{ form.categories }}
</p>

{% if object %}
    <p><a href='../../delete/{{ object.id }}/'>Delete draft</a></p>
{% endif %}

<input type='submit' value='Save' />
</form>

{% endblock %}
