{% extends "blog" %}
{% load markdown %}
{% block title %}{{ post.title|striptags }} [about:me]{% endblock %}
{% block extrahead %}
<link rel='next' href='{{ post.get_next_post.get_absolute_url }}' />
<link rel='previous' href='{{ post.get_previous_post.get_absolute_url }}' />
{% endblock %}
{% block content %}
<div class='blurt'>
<h1>{{ post.title }}</h1>
<p class='timestamp' title='{{ post.posted|date:"F j, Y H:i O" }}'>Posted {{ post.posted|timesince }} ago</p>

{{ post.content|markdown }}

<p class='tags'>
{% if post.get_category_list %}
You have been reading the rant "{{ post.title }}", which I tagged with 
{% for category in post.get_category_list %}
    <a title='Posts tagged "{{ category.name }}"'
       href='{{ category.get_absolute_url }}'>{{ category.name }}</a>{% if forloop.last %}.{% else %},{% endif %}
{% endfor %}
{% endif %}
</p>
</div>

<a name='comments' />
<h2>Comments</h2>

{% for comment in post.get_previewed_comment_list %}
<a name='comment-{{ comment.id }}' />
<div class='comment'>
<span class='byline'>Posted <span title='{{ comment.posted|date:"F j, Y H:i O" }}'>{{ comment.posted|timesince }}</span> ago
by {% if comment.url %}<a href="{{ comment.url|escape }}" rel='nofollow'>{% endif %}
   {% if comment.get_user %}{{ comment.get_user.first_name|escape }}
                            {{ comment.get_user.last_name|escape }}{% else %}
   {% if comment.name %}{{ comment.name|escape }}{% else %}
   <em>Anonymous Coward</em>{% endif %}{% endif %}
   {% if comment.url %}</a>{% endif %}</span>
{{ comment.content }}
</div>
{% endfor %}

<a name='new-comment' />
<h2>Post comment</h2>
<div style='width: 17em; float: right;'>Your comment can contain a subset
of <a href='http://daringfireball.net/projects/markdown/'>Markdown</a>;
<nobr><code>[A Link](http://example.com/)</code></nobr>, <code>*strong*</code>,
<code>_emphasis_</code>, <nobr><code>&gt; blockquote</code></nobr>,
<code>`code`</code>, code blocks and normal paragraphs.</div>

<form method='post' action='preview-comment/'>
<label for='id_name'>Your Name (Required):</label><br />
<input id='id_name' name='name'
       {% if user.is_staff %}value='{{ user.first_name }} {{ user.last_name }}'{% endif %}/><br />
<label for='id_email'>Your Email (Optional):</label><br />
<input id='id_email' name='email' /><br />
<label for='id_url'>Your URL (Optional):</label><br />
<input style='width: 80%; clear: both;' id='id_url' name='url' /><br />
<label for='id_content'>Comment:</label><br />
<textarea style='width: 80%; height: 20em; clear: both;' id='id_content' name='content'></textarea><br />
<input type='submit' value='Preview Comment' />
</form>
{% endblock %}
