<?xml version='1.0' encoding='utf-8'?>
<?xml-stylesheet href="{{ settings.MEDIA_URL }}/atom.css" type="text/css"?>
<feed version="0.3" xmlns="http://purl.org/atom/ns#" xml:lang='en'>
    <title>{{ settings.BLOG_TITLE }}</title>
    <link rel='alternate' type='text/html'
          href='{{ settings.BLOG_URL }}' />
    <author><name>{{ settings.BLOG_AUTHOR }}</name></author>
    <modified>{{ posts.0.posted|date:"Y-m-d" }}T{{ posts.0.posted|date:"H:i:sO" }}</modified>

    <info mode="xml" type="application/xhtml+xml">
        <div xmlns="http://www.w3.org/1999/xhtml">This is a syndicated
        feed, designed to be read in a syndicated feed reader. See <a
        href='http://purl.org/net/syndication/subscribe/?atom={{ settings.BLOG_URL }}/feeds/latest/'
        onclick="location.href='http://purl.org/net/syndication/subscribe/?atom=' + location.href; return false;">purl
        subscription service</a> for help. Below you can see a short
        summary of the posts in this feed, you can find the posts in
        <a href='{{ settings.BLOG_URL }}'>my blog</a>.</div>
    </info>

    {% for post in posts %}
    <entry>
        <id>{{ post.tag }}</id>
        <issued>{{ post.posted|date:"Y-m-d" }}T{{ post.posted|date:"H:i:sO" }}</issued>
        <modified>{{ post.posted|date:"Y-m-d" }}T{{ post.posted|date:"H:i:sO" }}</modified>
        <link rel='alternate' type='text/html'
              href='{{ post.get_absolute_url }}' />
        <title type='application/xhtml+xml'>
            <div xmlns='http://www.w3.org/1999/xhtml'>{{ post.title }}</div>
        </title>
        <summary type='application/xhtml+xml'>
            {{ post.get_content_rendered|striptags|truncatewords:"30" }}
        </summary>
        <content type='application/xhtml+xml'>
            <div xmlns='http://www.w3.org/1999/xhtml'>
                {{ post.get_content_rendered }}
            </div>
        </content>
    </entry>
    {% endfor %}
</feed>
